body{
    background-color:#1b1b32 ;
    color: white;
}
h1{
    text-align: center;
}
fieldset{
    max-width: 600px;
    margin: auto;
    padding: 25px;
}
#c1 input{
    width: 100%;
}
.coluna{
    margin: 0;

}

.coluna-separar{
    display: flex;
    justify-content: space-between;
}

#c3{
    position: relative;

}

label{
    display: block;
    margin: 1.5% 0;
}
